.App .grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px 0;
  height: 100vh;
  background-image: url(./assets/asphalt-white-v2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282c34;
  min-height: 100vh;
}

.logo {
  height: 118px;
  width: 417px;
  background-repeat: no-repeat;
  background-image: url(./assets/motorcycle-vector-20.png);
  overflow: hidden;
  position: fixed;
  bottom: 13px;
  left: 13px;
}
.icons {
  padding:15px 7px;
}
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  grid-column: 1;
  grid-row: 1;
}
nav div {
  padding-left: 20px;
}
p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}
.projects-container {
  overflow: auto;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
    width: 75%;
    background-repeat: no-repeat;
    background-size: contain;
  }
.project::before {
  content: '';
  padding-top: 100%;
  float: left;
}
.project::after {
  content: '';
  display: block;
  clear: both;
}
.project h1.title {
  margin: -2.5rem 0;
  color: white;
}
.vw {
  background-image: url(./assets/vw_beetle.png);
}
.penny-mac {
  background-image: url(./assets/penny_mac.png);
}
.city-natl-bank {
  background-image: url(./assets/computer-1833058_1920.png);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: .9rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: white;
}
.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

