.App .grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(./assets/asphalt-white-v2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 118px;
  width: 417px;
  position: absolute;
  top: 20vh;
  left: 5vw;
  background-repeat: no-repeat;
  background-image: url(./assets/motorcycle-vector-20.png);
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}