.App .grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px 0;
  height: 100vh;
  background-image: url(./assets/asphalt-white-v2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282c34;
  min-height: 100vh;
}

.logo {
  height: 118px;
  width: 417px;
  background-repeat: no-repeat;
  background-image: url(./assets/motorcycle-vector-20.png);
  overflow: hidden;
  position: fixed;
  bottom: 13px;
  left: 13px;
}
.icons {
  display: flex;
  align-items: center;
  padding:15px 7px;
}
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  grid-column: 1;
  grid-row: 1;
}
nav div {
  padding-left: 20px;
}
p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}
.projects-container {
  overflow: auto;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-radius: 5px;
  margin: 50px 10px;
  padding: 10px 0;
  background-color: rgba(0,0,0,0.35);
}
.container {
  position: relative;
}
.arrow-nav-top {
  background-image: url(./icons/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  position: absolute;
}
.arrow-nav-btm {
  background-image: url(./icons/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
}

.project {
  width: 90%;
  background-repeat: no-repeat;
  background-size: contain;
}
/* responsvie sizing of images */
.project::before {
  content: '';
  padding-top: 60%;
  float: left;
}
.project::after {
  content: '';
  display: block;
  clear: both;
}
.project h1.title {
  margin: -2.5rem 0;
  color: white;
}
.vw {
  cursor: pointer;
  background-image: url(./assets/vw_beetle.png);
}
.penny-mac {
  cursor: pointer;
  background-image: url(./assets/penny_mac.png);
}
.city-natl-bank {
  cursor: pointer;
  background-image: url(./assets/computer-1833058_1920.png);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: .9rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: white;
}
.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}
.modal img {
  max-width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}